@charset "UTF-8";

/*fonte destaque - Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@800&display=swap'); 

/*fonte destaque - Quicksand*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@font-face {
    font-family: 'Gliker';
    src: url('fontes/Gliker-Regular.ttf') format('opentype');
    font-weight: normal;
}

:root {
    --cor1: #8DAFE5;
    --cor2: #0257E0;
    --cor3: #4548FF;
    --cor4: #0244AD;
    --cor5: #0D0F99;
    --cor6: #012661;
    --cor7: #E0326D;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Open Sans', sans-serif;
    --fonte-gliker: 'Gliker', sans-serif;
    --fonte-quicksand: 'Quicksand', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background-color: #EAF8FF;
    font-family: var(--fonte-padrao);
}

html {
    height: 500vh; /*efeito de rolagem da tel. Não é necessario*/
}

.container {
    max-width: 1330px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between; /*perfeitamente centralizado*/
}

header {
    background-color: white;
    font-family: var(--fonte-quicksand);
    color: white;
    font-size: 20px;
    height: 140px;
    width: 100%;
    margin-top: -23px;
    padding: 0px 0%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
    box-shadow: 0px 0px 5px 0px black;
}

header.rolagem {
    background-color: white;
    color: black;
    padding: 25px 2%;
    height: 130px;
    border-bottom: 1px solid black;
}

header.rolagem a {
    color: #012661;
}

header.rolagem .logo {
    width: 150px;
    margin-top: 8px;
}

.logo {
    width: 250px;
}

header ul {
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 28px;
}

header ul li a {
    /*background-color: white;*/
    font-family: var(--fonte-quicksand);
    font-weight: bold;
    color: black;
    width: 50px;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
}

/*menu dropdown*/
nav li a:hover {
    background-color: var(--cor1);
}

.dropdown-menu {
    background-color: white;
    position: absolute;
    width: 155px;
    padding: 24px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-left: -19px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 25px;
    display: none;
}

.dropdown-menu > a {
    display: block;
    color: black;
    width: 155px;
    padding: 8px;
    margin-bottom: 0px;
    margin-left: -24px;
    text-align: center;
}

.boxinicio {
    border-radius: 24px 24px 0px 0px;
    margin-top: -10px;
}

.boxmeio {
    border-radius: 0px 0px 0px 0px;
}

.boxfim {
    border-radius: 0px 0px 24px 24px;
}

hr {
    width: 153px;
    margin-left: -23px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
/*menu dropdown*/

.btn-contato button {
    width: 40px;
    height: 40px;
    background-color: #0257E0;
    border-color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    transition: 2s;
}

.btn-contato button i {
    font-size: 20px;
    color: white;
}

.banner {
    height: 115vh;
    padding-top: 70px;
    background-image: url("imagens/imagemprincipal2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    justify-content: center;
}

#h1 {
    padding-top: 180px /*215px*/;
}

.banner > h1 {
    padding: 0px /*10px*/;
    font-family: var(--fonte-gliker);
    color: white;
    font-size: 4em;
    padding-top: 70px /*55px*/;
    margin-left: 210px;
    line-height: 2em;
}

.banner > p {
    text-decoration: none;
    font-size: 2em;
    padding-top: 100px;
    margin-left: 220px;
    background-color: #751EF1;
    color: white;
    width: 270px;
    height: 80px;
    padding: 22px;
    border-radius: 30px;
    margin-top: 170px /*70px*/;
}

#mais > a {
    text-decoration: none;
    color: white;
}

#mais a i {
    padding-left: 20px;
}

.rosa {
    font-family: var(--fonte-destaque);
    font-weight: bold;
    color: var(--cor7);
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    font-size: 1.5em;
}

#sobrenos {
    display: inline-flex;
}

.sobrenos > img {
    width: 670px; 
    padding-top: 100px;
    margin-left: 130px;
    
}

.cuidados {
    padding-left: 70px;
}

.tera {
    font-family: var(--fonte-gliker);
    font-size: 1.5em;
    color: var(--cor6);
    margin-left: -7px;
    padding: 15px;
    margin-bottom: 20px;
}

.cuidados > h3 {
    font-family: var(--fonte-gliker);
    font-size: 2em;
    color: var(--cor6);
    padding: 10px;
    margin-right: 225px;
    line-height: 1.5em;
}

.cuidados ul {
    list-style-type: none;
}

.cuidados ul li{
    font-family: var(--fonte-quicksand);
    font-weight: bold;
    font-size: 20px;
    color: var(--cor6);
    margin-left: 30px;
    margin-bottom: 15px;
}

.mais {
    font-size: 22px;
    margin-top: 150px;
    margin-bottom: 115px;
}

.mais a {
    font-family: var(--fonte-quicksand);
    font-weight: bold;
    text-decoration: none;
    padding: 13px;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 20px;
    margin-left: 76px;
    background-color: #751EF1;
    color: white;
    border-radius: 30px;
}

.mais a i {
    padding-left: 20px;
}


#servicos {
    background-color: white;
    padding-bottom: 50px;
}

.asides {
    justify-content: center;
    align-items: center;
    margin-left: 280px;
}

.titulo {
    font-family: var(--fonte-gliker);
    font-size: 2em;
    color: var(--cor6);
    padding: 10px;
    text-align: center;
    margin-bottom: 90px;
}

.tiposervico {
    font-family: var(--fonte-gliker);
    font-size: 25px;
    color: #393D72;
    list-style: none;
}

.aside1, .aside2, .aside3, .aside4, .aside5, .aside6 {
    background-color: #A5C2E9;
    font-family: var(--fonte-quicksand);
    font-size: 20px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    padding-left: 30px;
    margin-left: 0px;
    margin-bottom: 35px;
    transition: 0.3s;
    border: 1px solid var(--cor2);
}

#servicos aside:hover {
    transform: scale3d(1.1, 1.1, 1);
    box-shadow: 0px 0px 10px 0px var(--cor2);
}

.aside2 {
    margin-left: 480px;
    margin-top: -235px;
    width: 400px;
}

.aside3 {
    margin-left: 960px;
    margin-top: -235px;
    padding-bottom: 80px;
    width: 400px;
}

.aside4 {
    margin-top: 70px;
    margin-bottom: 50px;
}

.aside5 {
    margin-left: 482px;
    margin-top: -249px;
    width: 400px;
    padding-bottom: 50px;
}

.aside6 {
    background-attachment: fixed;
    margin-left: 960px;
    margin-top: -235px;
    width: 400px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.paragrafo {
    margin-top: 10px;
    line-height: 1.5em;
}

#pacoteprecos {
    background-color: #EAF8FF;
    padding-bottom: 50px;
}

.posicaopacote {
    justify-content: center;
    align-items: center;
    margin-left: 280px;
}

.azul {
    display: block;
    font-family: var(--fonte-destaque);
    color: #004AAD;
    font-weight: bold;
    text-align: center;
    padding: 40px;
    margin-top: 50px;
    font-size: 1.5em;
}

.basico {
    background-color: white;
    font-family: var(--fonte-quicksand);
    font-size: 20px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    padding-top: 50px;
    padding-left: 75px;
    margin-left: 180px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px 0px var(--cor2);
}

.basicopremium {
    font-family: var(--fonte-destaque);
    color: var(--cor5);
    font-size: 1.5em;
}

.preco {
    font-family: var(--fonte-gliker);
    background-color: #0D0F99;
    color: white;
    font-size: 1em;
    border-radius: 20px;
    width: 245px;
    padding: 15px;
    padding-left: 55px;
    margin-left: -17px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.ul {
    list-style-type: none;
}

.ul li{
    font-family: var(--fonte-quicksand);
    font-weight: bold;
    font-size: 20px;
    color: var(--cor6);
    line-height: 5em;
}

.ul li i {
    color: #0D0F99;
    padding-right: 10px;
}

.ulpremium {
    list-style-type: none;
}

.ulpremium li{
    font-family: var(--fonte-quicksand);
    font-weight: bold;
    font-size: 20px;
    color: var(--cor6);
    line-height: 3.75em;
}

.ulpremium li i {
    color: #0D0F99;
    padding-right: 10px;
}

.agende {
    font-size: 22px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.agende a {
    font-family: var(--fonte-destaque);
    background-color: var(--cor4);
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 13px;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 20px;
    border-radius: 30px;
}

.agende a i {
    padding-left: 20px;
}

.premium {
    background-color: white;
    font-family: var(--fonte-quicksand);
    font-size: 20px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    padding-top: 50px;
    padding-left: 75px;
    margin-left: 100px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px 0px var(--cor2);
}

.posicao {
    margin-left: 650px;
    margin-top: -772px;
}

#equipe {
    background-color: white;
    padding-top: 25px;
    margin-bottom: -150px;
}

.posicaoequipe {
    justify-content: center;
    align-items: center;
    margin-left: 280px;
}

.imgfunc {
    width: 200px;
    border-radius: 20px;
    margin-left: 50px;
    padding-bottom: 50px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px black;
}

.nomes {
    font-family: var(--fonte-gliker);
    font-size: 1.2em;
    position: absolute;
    background-color: white;
    color: var(--cor6);
    border-radius: 20px;
    width: 230px;
    padding: 15px;
    padding-left: 30px;
    margin-left: 33px;
    left: 1px;
    bottom: -30px;
    border: 1px solid var(--cor2);
    box-shadow: 0px 0px 10px 0px var(--cor1);
    transition: 0.3s;
}

.nomes:hover {
    background-color: var(--cor1);
    transform: scale3d(1.1, 1.1, 1);
}

.funcao {
    font-family: var(--fonte-quicksand);
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 37px;
}

.func1, .func2, .func3, .func4 {
    position: relative;
}


.func2 {
    display: inline-block;
    left: 340px;
    bottom: 416px;
    padding-bottom: 9px;
}

.func3 {
    display: inline-block;
    left: 420px;
    bottom: 412px;
    padding-bottom: 15px;
}

.func4 {
    display: inline-block;
    left: 500px;
    bottom: 414px;
    padding-bottom: 17px;
}

.nomeaimee {
    margin-left: 15px;
}

.nomemaria {
    padding-left: 30px;
}

.funcaomaria {
    font-family: var(--fonte-quicksand);
    font-size: 1em;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nomegiovanni {
    padding-left: 35px;
}

.funcaogiovanni {
    font-family: var(--fonte-quicksand);
    font-size: 1em;
    margin-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nomemari {
    padding-left: 25px;
}

.funcaomari {
    font-family: var(--fonte-quicksand);
    font-size: 1em;
    margin-left: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hr {
    color: var(--cor7);
    margin-left: 5px;
    
}

.nomes button {
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 10px;
    margin-left: 22px;
    transition: 2s;
}

.nomes button i {
    font-size: 20px;
    color: var(--cor6);
}

#escolher {
    background-color: #EAF8FF;
    margin-top: -200px;
    padding-bottom: 50px;
}

.posicaoescolher {
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.nosescolher img {
    display: inline-block;
    background-position: right;
    margin-left: 923px;
    margin-top: -500px;
    padding-top: 60px;
    width: 730px; 
}

.nosescolher {
    margin-top: -135px;
}

.porque {
    display: inline-block;
    margin-left: 180px;
}

.pqescolher {
    text-align: left;
    font-family: var(--fonte-destaque);
    color: #004AAD;
    font-weight: bold;
    padding: 40px;
    margin-top: 50px;
    font-size: 1.5em;
    margin-left: 20px;
}

#titulo {
    font-family: var(--fonte-gliker);
    font-size: 2em;
    color: var(--cor6);
    background-position: left;
    padding: 10px;
    line-height: 1.5em;
    margin-left: 50px;
    width: 500px;
    padding-bottom: 20px;
}

.qualidades {
    font-family: var(--fonte-gliker);
    font-size: 1.5em;
    color: var(--cor5);
    margin-left: 50px;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 15px;
}

.paragrafoescolher {
    font-family: var(--fonte-quicksand);
    font-size: 1.5em;
    color: var(--cor6);
    margin-left: 50px;
    padding: 10px;
    width: 570px;
}

.agendehorario {
    font-size: 22px;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 870px;
}

.agendehorario a {
    font-family: var(--fonte-destaque);
    background-color: var(--cor4);
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 13px;
    padding-top: 10px;
    padding-right: 36px;
    border-radius: 30px;
    margin-left: 150px;
}

.agendehorario a i {
    padding-right: 10px;
    padding-left: 10px;
}

footer {
    /*background-color: var(--cor6);*/
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor4));
    color: white;
    padding-top: 70px;
}

.icones {
    display: flex;
    align-items: center;
    margin-left: 800px;
    padding-bottom: 70px
}

.icones button {
    width: 40px;
    height: 40px;
    background-color: var(--cor6);
    border-color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 70px;

}

.icones button:hover {
    background-color: var(--cor7);
}

.icones button i {
    font-size: 20px;
    color: white;
}

.topicos {
    display: flex;
    align-items: center;
    margin-left: 650px;
    padding-bottom: 70px
}

.topicos ul {
    list-style-type: none;
}

.topicos ul li{
    display: inline-block;
    margin: 0 28px;
}

.topicos ul li a {
    font-family: var(--fonte-quicksand);
    color: white;
    width: 50px;
    padding: 0px 25px 10px 0;
    text-decoration: none;
    position: relative;
}

.topicos a::after {
    content: " ";
    width: 0;
    height: 4px;
    background-color: var(--cor7);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.topicos a:hover::after {
    width: 100%;
}

.web {
    background-color: var(--cor5);
    font-family: var(--fonte-quicksand);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

.web a {
    color: var(--cor7);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

